@import '~antd/dist/antd.css';
@import '../../components/CustomIcons/customIcons.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 63.5%;
}
body *{
    font-family: 'Nunito Sans', sans-serif;
   
}
.container {
    font-family: 'Nunito Sans', sans-serif;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.fill {
    width: 100%;
}
.form-group {
    margin: 1rem 1rem 0 0;
}
.layout__container {
    padding: 0 24px 24px;
}
