.iconPicker__icon {
  width: 42px;
  height: 42px;
  padding: 3.2rem;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px ;
  transition: background-color .4s;
  cursor: pointer;
  border-radius: 8px;
 
}
.iconPicker__container{
  margin-top: 4.5rem;
}
.iconPicker__icon:hover {
  -webkit-box-shadow: -1px 1px 19px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 19px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 19px 0px rgba(0, 0, 0, 0.15);
}