@font-face {
  font-family: 'fontello';
  src: url('./customIcons.eot?30648731');
  src: url('./customIcons.eot?30648731#iefix') format('embedded-opentype'),
       url('./customIcons.woff2?30648731') format('woff2'),
       url('./customIcons.woff?30648731') format('woff'),
       url('./customIcons.ttf?30648731') format('truetype'),
       url('./customIcons.svg?30648731#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user-female:before { content: '\e800'; } /* '' */
.icon-social-twitter:before { content: '\e801'; } /* '' */
.icon-plane:before { content: '\e802'; } /* '' */
.icon-social-dribbble:before { content: '\e803'; } /* '' */
.icon-social-dropbox:before { content: '\e804'; } /* '' */
.icon-ghost:before { content: '\e805'; } /* '' */
.icon-game-controller:before { content: '\e806'; } /* '' */
.icon-fire:before { content: '\e807'; } /* '' */
.icon-magnet:before { content: '\e808'; } /* '' */
.icon-mouse:before { content: '\e809'; } /* '' */
.icon-mustache:before { content: '\e80a'; } /* '' */
.icon-cup:before { content: '\e80b'; } /* '' */
.icon-diamond:before { content: '\e80c'; } /* '' */
.icon-handbag:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-basket-loaded:before { content: '\e80f'; } /* '' */
.icon-bag:before { content: '\e810'; } /* '' */
.icon-eyeglass:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-umbrella:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-support:before { content: '\e816'; } /* '' */
.icon-bulb:before { content: '\e817'; } /* '' */
.icon-heart:before { content: '\e818'; } /* '' */
.icon-symble-female:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e81a'; } /* '' */
.icon-settings:before { content: '\e81b'; } /* '' */
.icon-symbol-male:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-key:before { content: '\e81e'; } /* '' */
.icon-lock:before { content: '\e81f'; } /* '' */
.icon-like:before { content: '\e820'; } /* '' */
.icon-eye:before { content: '\e821'; } /* '' */
.icon-award:before { content: '\e822'; } /* '' */
.icon-scissors:before { content: '\e823'; } /* '' */
.icon-truck:before { content: '\e824'; } /* '' */
.icon-megaphone:before { content: '\e825'; } /* '' */
.icon-key-1:before { content: '\e826'; } /* '' */
.icon-picture:before { content: '\e827'; } /* '' */
.icon-camera:before { content: '\e828'; } /* '' */
.icon-briefcase:before { content: '\e829'; } /* '' */
.icon-suitcase:before { content: '\e82a'; } /* '' */
.icon-bucket:before { content: '\e82b'; } /* '' */
.icon-guidedog:before { content: '\e82c'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */