.org__files {
  width: 44%;
  margin-left: .5rem;
}
.org__files__list{
  list-style: none;
}
.org__list__item{
  padding: .3rem 1rem;
  border-radius: .4em;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  background-color: #dfe6e9;
}
.orgs__list__item-actions span{
  margin-left: .5rem;
  display: inline-block;
  cursor: pointer;
}
.orgs__list__item-actions{
 display: flex;
}