.bp3-popover-target {
 width: 100%;
  max-width: 100%;
}
.org__spinner {
    margin:20% 50%;
}
.org__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 173px;
}
.org__basic__info-wrapper{
  width: 80%;
}
.orgs-form__form{
  width: 100%;
}
.orgs-form__input{
  margin: .6rem .5rem;
  width: 100%;
}
.orgs-form__input-file{
  margin: .6rem .5rem;
  width: 56%;
}
.orgs-form__map{
  margin-bottom: 6rem;
}
.form__with-back{
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}