.profile__title{
  font-weight: bold
}
.profile__btn{
  width: 150px;
}
.emails__container{
  width: 100%;

}
.emails__true{
  background-color: #2ecc71;
  padding: .2rem .9rem;
  border-radius: 1.4rem;
  text-align: center;
  color: #fff;
}
.emails__false{
  background-color: #e74c3c;
  padding: .2rem .9rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.4rem;
  color: #fff;
}
.emails__icon{
  color: #e74c3c
}
.emails__add{
  margin-top: 2rem;
}
.emails__icon{
  cursor: pointer;
  float: right;
}
.profile__table__emails{
  width: 100%;
  table-layout: fixed
}
.emails__add{
  margin-top: 2rem;
}
.emails__icon{
  cursor: pointer;
}
.emails_false--actions{
  display: flex;
  justify-content: space-between;

}
.emails__resend{
  padding:.5rem;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}
.profile__avatar{
 margin-left: 5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 173px;
}
.profile__avatar input{
  margin: 1rem 0 0 11rem;

}
/*----------------*/
.profile__upload-btn-wrapper {
  margin-top: .6rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.profile__upload--btn {
  border: 2px solid #efefef;
  color: gray;
  background-color: white;
  padding: 0 15px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.profile__upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}
.profile__note{
  color: gray;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}
