:root{
  --main-color:#222;
  --err-color:#e74c3c;
  --info-color:#3498db;
}
.end-users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end-users__table{
  display: inline-block;
  width: 90%;
  margin-top: 30px;
}
.end-users__header{
  margin-top: 3rem;
  text-align: left;
  margin-bottom: 3rem;
}

.end-users__actions button{
  margin-left: 1rem;
}
