:root{
    --main-color:#222;
    --err-color:#e74c3c;
    --info-color:#3498db;
}
.orgs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.orgs__table{
    display: inline-block;
    width: 90%;
}
.orgs__table .button {
    margin: 0 5px;
}
div.orgs__add-button {
    margin: 10px;
    text-align: right;
}
.top {
    top: 40px;
}
.pull-right {
    float:right
}
