.verifyemail{
  width: 80vw;
  height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.verifyemail__verifying{
  font-size: 5rem;
}
.verifyemail__verified{
  font-size: 5rem;
  color: green;
}

.verifyemail__verified--icon{
  color: green;
  margin-bottom: -2rem;
}