:root{
  --main-color:#222;
  --err-color:#e74c3c;
  --info-color:#3498db;
}
.admins{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.admins__form{
 display: flex;
 justify-content: space-between;  

}
.admins__invite {
  margin: 1rem 0;
}
.admins__invite input{
  border: 0.1rem solid var(--main-color);
  border-radius: 1rem;
}

.admins__invitation-info{
  color: var(--info-color);
}

.admins__invitation-err{
  color: var(--err-color);
}
.admins__spinner {
  margin: 20% 50%;
}

.admins__actions button{
  margin-left: 1rem;
}
