/* --------------------------------- */
/*            Nabbar component
/* --------------------------------- */
.profile__org-link {
    margin-left: .7rem;
}

.navbar__profile_button {
    box-shadow: 0 0 1px !important;
    border-radius: 8px;
}

.layout__sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.layout__logo {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: .2rem 0
}

.layout__logo a {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}
